<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('common/head.ejs') %>
	</head>
	<body>
		<div class="container">
			<!-- header -->
			<%- include('common/header.ejs') %>

			<!-- main -->
			<div class="f-row f-align:c f-align:m">
				<div class="f-col:10">
					<h1 class="u-align:c">About</h1>
					<h3>這個網站可以把 markdown 文件轉換成線上簡報。所有文件都不會存在我們的伺服器，一切的資料來自於 GitHub（有計劃新增其他來源）。你可以享受用 git 管理你的所有的簡報</h3>
					<hr>
					<h5 class="u-align:c"><a target="blank" class="link" href="https://github.com/simba-fs/slides">GitHub Repo</a></h5>
					<h5 class="u-align:c"><a target="blank" class="link" href="https://github.com/simba-fs">simba-fs</a></h5>
				</div>
			</div>
		</div>
	</body>
</html>
