<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('common/head.ejs') %>
	</head>
	<body>
		<div class="container">
			<!-- header -->
			<%- include('common/header.ejs') %>

			<!-- main -->
			<div class="f-row f-align:c f-align:m">
				<div class="f-col:10">
					<h1 class="u-align:c">About</h1>
					<h3>這個是一個可以把 markdown 文件轉成簡報的工具，透過 reveal.js 的幫助轉換成簡報 這個工具是啟發自 hackmd.io 和 slides.com，但是我們不儲存檔案在我們的伺服器，你可以用自己喜歡的編輯器編輯完了之後上傳到 GitHub，我們會從 GitHub 上抓取你的檔案，你可以透過 git 強大的版本管理回覆到任何版本以及與他人共同編輯</h3>
					<hr>
					<h5 class="u-align:c"><a target="blank" class="link" href="https://github.com/simba-fs/slides">GitHub Repo</a></h5>
					<h5 class="u-align:c"><a target="blank" class="link" href="https://github.com/simba-fs">simba-fs</a></h5>
				</div>
			</div>
		</div>
	</body>
</html>
