<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('common/head.ejs') %>
	</head>
	<body>
		<!-- schema picker -->
		<div class="modal is:on" id="schemaPicker">
			<div class="modal_container">
				<header class="modal_head">
					<h3 class="modal_title">Title</h3>
				</header>
				<main class="modal_body">
					<div class="modal_content">
						<form>
							<label class="option">
								<input type="radio" name="sch" value="beige" class="option_input">
								<span class="option_obj">beige</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="black" class="option_input">
								<span class="option_obj">black</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="blood" class="option_input">
								<span class="option_obj">blood</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="league" class="option_input">
								<span class="option_obj">league</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="moon" class="option_input">
								<span class="option_obj">moon</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="night" class="option_input">
								<span class="option_obj">night</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="serif" class="option_input">
								<span class="option_obj">serif</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="simple" class="option_input">
								<span class="option_obj">simple</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="sky" class="option_input">
								<span class="option_obj">sky</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="solarized" class="option_input">
								<span class="option_obj">solarized</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="white" class="option_input">
								<span class="option_obj">white</span>
							</label>
							<br>
							<button class="btn" type="submit">OK</button>
						</form>
					</div>
				</main>
				<footer class="modal_foot">
					<button class="btn" id="schemaClose">Close</button>
				</footer>
			</div>
		</div>

		<script>
			let form = document.getElementsByTagName('form')[0];
			let schema = 'white';
			form.addEventListener('submit', e => {
				e.preventDefault();
				for(let i of e.target.elements){
					if(i.checked) schema = i.value
				}
				console.log(schema);
			})
		</script>
	</body>
</html>

