<!DOCTYPE html>
<html>
	<head>
		<%- include('common/head.ejs') %>
	</head>
	<body>
		<div class="container">
			<!-- header -->
			<%- include('common/header.ejs') %>

			<!-- main -->
			<div class="f-row f-align:c f-align:m">
				<div class="f-col:10">
					<h1 class="u-align:c">Help</h1>
	
					<ul class="list">
						<li class="list_item"><a class="link" href="/h/how-to-use">如何使用</a></li>
						<li class="list_item"><a class="link" href="/h/shortcut">快捷鍵</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
