<!DOCTYPE html>
<html>
	<head>
		<%- include('common/head.ejs') %>
	</head>
	<body>
		<!-- main -->
		<div class="container f-row f-align:m f-align:c">
			<h1>Slides</h1>
			<form action="/s" method="post">
				
			</form>
		</div>
	</body>
</html>
