<!DOCTYPE html>
<html>
	<head>
		<%- include('common/head.ejs') %>
	</head>
	<body>
		<div class="container">
			<!-- main -->
			<div class="f-row f-align:c f-align:m">
				<div class="f-col:10">
					<!-- <h1 class="u-align:c">Slides<span><a class="link" href="/h">â”</a></span></h1> -->
					<h1 class="u-align:c">Slides <span class="tooltip @top" data-tip="Help"><a class="link" href="/h">â„¹</a></span></h1>
					<form action="/s" method="post">
						<div class="input-grp">
							<span class="input-append">GitHub src</span>
							<input name="src" class="input" type="text" required>
							<span class="input-btn">
								<button class="btn" type="submit">GO</button>
							</span>
						</div>
					</form>
					<ul class="list">
						<li class="list_item">simba-fs/slides-test</li>
						<li class="list_item">simba-fs/slides-test/folder1/folder2/slides.md</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
