<!DOCTYPE html>
<html>
	<head>
		<%- include('common/head.ejs') %>
	</head>
	<body>
		<div class="container">
			<!-- header -->
			<%- include('common/header.ejs') %>

			<!-- first use -->
			<div class="modal sz:lg" id="firstUse">
				<div class="modal_container">
					<header class="modal_head">
						<h3 class="modal_title">First Use ?</h3>
					</header>
					<main class="modal_body">
						<div class="modal_content">
							<p>Do you first visit this <a class="link" href="https://slides.simba-fs.dev" target="_blank">Slides</a> ? Click this <a class="link" href="/h" target="_blank">link</a> to see some help message.</p>
						</div>
					</main>
					<footer class="modal_btn-grp">
						<button class="btn clr:primary" id="firstUseClose">Close</button>
					</footer>
				</div>
			</div>

			<!-- main -->
			<div class="f-row f-align:c f-align:m">
				<div class="f-col:10">
					<!-- <h1 class="u-align:c">Slides<span><a class="link" href="/h">❔</a></span></h1> -->
					<h1 class="u-align:c">Slides <span class="tooltip @top" data-tip="Help"><a class="link" href="/h">ℹ</a></span></h1>
					<form action="/s" method="post">
						<div class="input-grp">
							<span class="input-append">GitHub path</span>
							<input name="src" class="input" type="text" required>
							<span class="input-btn">
								<button class="btn" type="submit">GO</button>
							</span>
						</div>
					</form>
					<ul class="list">
						<li class="list_item">simba-fs/slides-test</li>
						<li class="list_item">simba-fs/slides-test/folder1/folder2/slides.md</li>
					</ul>
				</div>
			</div>
		</div>

		<script src="/js/index.js"></script>
	</body>
</html>
