<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('common/head.ejs') %>
	</head>
	<body>
		<div class="container">
			<!-- header -->
			<%- include('common/header.ejs') %>

			<!-- main -->
			<div class="f-row f-align:c f-align:m">
				<div class="f-col:10">
					<h1 class="u-align:c">License</h1>
					<ul class="list">
						<li class="list_item">
							<a class="link" href="https://github.com/simba-fs/slides/blob/master/LICENSE">Web Server</a>
							主要程式碼
						</li>
						<li class="list_item">
							<a class="link" href="https://github.com/kuletw/lazy/blob/master/LICENSE">layz4.css</a>
							CSS Framework
						</li>
						<li class="list_item">
							<a class="link" href="https://fontawesome.com/license">fontawesome</a>
							icons
						</li>
						<li class="list_item">
							<a class="link" href="https://github.com/hakimel/reveal.js/blob/master/LICENSE">reveal.js</a>
							把 markdown 轉換成簡報的函式庫
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
