<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('common/head.ejs') %>
	</head>
	<body>
		<div class="container">
			<!-- header -->
			<%- include('common/header.ejs') %>

			<!-- main -->
			<div class="f-row f-align:c f-align:m">
				<form id="room" action="/room" method="get" class="f-row">
					<h2 class="u-align:c">Join Room</h2>
					<div class="input-grp f-col:12">
						<span class="input-append">ID</span>
						<input name="id" class="input" type="text" required>
					</div>
					<div class="btn-grp :united f-col:12">
						<button class="btn clr:primary" type="submit">Join</button>
						<button class="btn" type="button" data-toggle="#create">Create</button>
					</div>
				</form>
			</div>

			<div class="modal" id="create">
				<div class="modal_container">
					<form action="/host" method="post">
						<header class="modal_head">
							<h3 class="modal_title">Create</h3>
						</header>
						<main class="modal_body">
							<div class="modal_content">
								<div class="step :vertical :ordered" id=createStep>
									<div class="step_item is:on">
										<h5 class="step_title">GitHub Path</h5>
										<p class="step_txt">簡報的來源</p>
										<input
											id="createPath"
											class="input"
											name="path"
											type="text"
											pattern=".*\/.*"
											required>
									</div>
									<div class="step_item">
										<h5 class="step_title">Name</h5>
										<p class="step_txt">給你的簡報一個名字吧！</p>
										<input
											id="createName"
											class="input"
											name="name"
											type="text">
									</div>
									<div class="step_item">
										<h5 class="step_title">Key</h5>
										<p class="step_txt">你可以用這個密鑰控制會議，如果不填則會隨機產生</p>
										<input
											id="createKey"
											class="input"
											name="key"
											type="password">
									</div>
									<div class="step_item">
										<h5 class="step_title">Start</h5>
										<button
											id="createSubmit"
											type="submit"
											class="btn clr:primary">開始吧！</button>
									</div>
								</div>
							</div>
						</main>
						<footer class="modal_btn-grp">
							<button class="btn" type="button" data-toggle="#create">Close</button>
						</footer>
					</form>
				</div>
			</div>
		</div>

		<script src="/js/toggle.js"></script>
		<script src="/js/room.js"></script>
	</body>
</html>
