<!DOCTYPE html>
<html>
	<head>
		<%- include('../common/head.ejs') %>
	</head>
	<body>
		<div class="container">
			<!-- main -->
			<div class="f-row f-align:c f-align:m">
				<div class="f-col:10">
					<h1 class="u-align:c">Help</h1>
	
					<ul class="list">
						<li class="list_item link"><a href="/h/operation">Operation</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
