<ul class="nav u-pos:sta">
	<li class="nav_col">
		<a id="asdf" href="/" class="nav_item <%= (path === "" ? 'is:on' : '') %>">Home</a>
	</li>
	<li class="nav_col">
		<a href="/help" class="nav_item <%= (path === "/h" || path === '/help' ? 'is:on' : '') %>">Help</a>
	</li>
	<li class="nav_col">
		<a href="/license" class="nav_item <%= (path === "/license" ? 'is:on' : '') %>">License</a>
	</li>
</ul>
