<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/css/lazy4-colours.css">
<link rel="stylesheet" href="/css/lazy4.css">
<link rel="stylesheet" href="/css/style.css">
<title>Slides</title>
